@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;/*smooth scroll in wesites*/
}

body {
    width: 100%;
    background-color: black;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    height: auto;
    width: 150px; 
}

nav {
    display: flex;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width: 995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #0e0d0d;
        flex-direction: column;
    }

    nav.active {
        display: flex;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(32, 30, 30);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content span {
    color: #b74b4b;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.details {
    background-color: #ff0202;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.details img {
    height: 300px;
    width: 200px;
}

.details h3 {
    margin: 2rem 0;
    font-size: larger;
}
.skills{
    background-color: #810d0d;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: larger;
}

.skills ol {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 0.5rem 0;
    font-size: larger;
}

.contact {
    text-align: center;
    background-color: rgb(216, 36, 111);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 2rem;
}

.contact h3 {
    margin-bottom: 1rem;
}

.contact p {
    margin: 1rem 0;
}

.contact form {
    margin-top: 2rem;
}

.contact textarea {
    width: 100%;
    height: 100px;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}
